<nav class="navbar">
  <div class="logo">
    <img src="/docs/logo.jpg">
  </div>
  <div class="search-bar">
    <button type="submit" class="search-button">
      <i class="fa fa-search"></i>
    </button>
    <input type="text" class="search-input" placeholder="What are you looking for?">
  </div>
  <div class="login">
    <p> Log in </p>
  </div>
  <div class="Register">
    <p> Log out</p>
  </div>
</nav>