.navbar {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  justify-items: center;
  align-self: center;
}

.logo {
  grid-column: 1;
  display: grid;
  justify-items: center;
  align-self: center;
}

.logo-image {
  width: 30px;
  height: 30px;
}

.search-bar {
  grid-column: 2;
  display: flex;
  width: 100%;
}

.search-button {
  width: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
}

.search-button-icon {
  color: #FFF;
}

.search-input {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 0 5px 5px 0;
  border: 3px solid #00B4CC;
  border-left: none;
}

.login {
  grid-column: 4;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.register {
  grid-column: 5;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
